[DEFAULT]
alpha_0 = 200
beta_0 = 10

[1_th]

[2_th]

[3_th]

[4_th]

[5_th]

[6_th]

[7_th]

[8_th]

[9_th]

[10_th]

[11_th]

[12_th]

[13_th]

[14_th]

[15_th]

[16_th]

[17_th]

[18_th]

[19_th]

[20_th]

[21_th]

[22_th]

[23_th]

[24_th]

[25_th]

[26_th]

[27_th]

[28_th]

[29_th]

[30_th]

[31_th]

[32_th]

[33_th]

[34_th]

[35_th]

[36_th]

[37_th]

[38_th]

[39_th]

[40_th]

[41_th]

[42_th]

[43_th]

[44_th]

[45_th]

[46_th]

[47_th]

[48_th]

[49_th]

[50_th]

